.link{
    color: white;
    &:hover{
        color: #1971c2;
    }
}
.header{
    background-color: #111111;
}
.top-banner-container__content{
    background-color: rgba($color: #111111, $alpha: .5);
}

.footer{
    background-color: #111111;
}

.footer__title{
    color: #1971c2;
}