body{
    background-color: #333333;
}
.link{
    color: white;
    &:hover{
        color: #1971c2;
    }
}
.header{
    background-color: #111111;
}
.top-banner-container__content{
    background-color: rgba($color: #111111, $alpha: .5);
}

.footer{
    background-color: #111111;
}

.footer__title{
    color: #1971c2;
}
.gallery__errormsg{
    color: white;
}

.employee{
    &__name{
        color: white;
    }
    &__position{
        color: #1971c2;
    }
    &__about{
        color: darken(white,20%);
    }
    &__errormsg{
        color: white; 
    }

}
.guestbook-top{
    // background-color: rgba($color: #111111, $alpha: .5);
    &__text{
        color: white;
    }
}
.guestbookform{
    input,textarea{
        background-color: rgba($color: black, $alpha: .5);
        color: white;
    }
}
.guestbook-entries__title{
    background-color: #111111;
}
.entry{
    border-color: #111111;
    h3{
        color: white;
    }
    p{
        color: #ededed
    }
}

.inputfield__errormsg{
    background-color: #111111;
}
