.top-banner-container{
    position: relative;
    height: 600px;
    width: 100%;
    &__image{
        height: 100%;
        width: 100%;
        display: block;
        object-fit: cover;
        object-position: top;
    }
    &__content{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        &-wrapper{
            width: 70%;
            text-align: center;
        }
    }
    &__logo{
        height: 200px;
        border-bottom: 2px solid white;
        padding-bottom: 1em;
    }
    &__text{
        color: #ffffff;
        font-size: 1.3rem;
    }
}