.picture-data{
    display: none;
}
.gallery{
    position: relative;
    width: 80%;
    margin: 2em auto;

    &__imgcontainer{
        height: 500px;

    }
    &:hover &__controls{
        opacity: 1;
    }
    &__controls{
        opacity: 0;
        transition: all .5s;
    }
    &__img{
        height: 100%;
        width: 100%;
        display: block;
        object-fit: cover;
    }
    .previousimgbtn,.nextimgbtn{
        position: absolute;
        transform: translate(0,-50%);
        width: 10%;
        height: 20%;
        border: none;
        background-color: rgba($color: #000000, $alpha: .3);
        font-size: 2rem;
        color: white;
    }
    .previousimgbtn{
        top: 50%;
        left: 0;
    }
    .nextimgbtn{
        top: 50%;
        right: 0;
    }
    &__title{
        position: absolute;
        top: 0;
        width: 100%;
        text-align: center;
        background-color: #111111;
        color: white;
        box-sizing: border-box;
        margin: 0;
        padding: .5em;
        z-index: 1;
    }
    &__imgcounter{
        margin: 0;
        color: white;
    }
    &__info{
        display: flex;
        position: absolute;
        bottom: 0;
        background-color: rgba(0,0,0,.7);
        width: 100%;
        justify-content: space-between;
        box-sizing: border-box;
        padding: .5em 1em;
    }
}
