.guestbook-top{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4em;
    padding: 2em;
    margin: 2em auto;
    border-radius: 1em;
    &__logo-and-text{
        display: flex;
    }
    &__imgcontainer{
        height: 300px;
        width: 300px;
    }
    &__img{
        height: 100%;
        width: 100%;
        display: block;
        object-fit: contain;
        object-position: top;
    }
    &__text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #1971c2;
        h2{
            margin: 0;
        }
    }
}

.guestbookform{
    display: flex;
    flex-direction: column;
    justify-content: center;
    label{
        color: #1971c2;
    }
    input,textarea{
        margin: .2em 0 .5em 0;
        padding: .5em;
        border: 1px solid transparent;
    }
    .invalidfield{
        border-color: red;
    }
}

.guestbook-entries__title{
    padding: 0.5rem 1rem;
    color: white;
}
.guestbook-entries__errormsg,.guestbookform__thanksmsg{
    color: #1971c2;
    padding: 0 1rem;
}
.guestbookform__thanksmsg{
    align-self: center;
    justify-self: center;
}    
.entry{
    border-bottom: 1px solid transparent;
    margin: 2em 0 1em 0;
    padding: 0 1em;
    &__personinfocontainer{
        display: flex;
        justify-content: space-between;
    }
    &__personinfo,&__date{
        margin-top: 0;
    }
}
.guestbook-entrylist{
    margin-bottom: 2em;
}
.guestbook-wrapper{
    margin: 0 auto;
    width: 80%;
}
.inputfield{
    position: relative;
    input,textarea{
        width: 100%;
        box-sizing: border-box;
    }
    &__errormsg{
        color: red;
        padding: .3rem .5em;
        position: absolute;
        margin: 0;
        top: 45%;
        left: -2%;
        transform:translate(-100%,-50%);
        border: 1px solid red;
        .fa-exclamation{
            margin-right: .3rem;
        }
    }
}
.entry__message{
    margin-top: 0;
    overflow-wrap: break-word;
}