.link{
    color: white;
    &:hover{
        color: lighten(black,20%);
    }
}
.header{
    background-color: #1971c2;
}

.top-banner-container__content{
    background-color: rgba($color: #1971c2, $alpha: .2);
}
.footer{
    background-color: #1971c2
}
.employee{
    &__position{
        color: #1971c2;
    }
    &__about{
        color: lighten(#111111,10%);
    }
}

.guestbookform{
    input,textarea{
        color: black;
        border: 1px solid #1971c2;
    }
}
.guestbook-entries__title{
    background-color: #1971c2;
}
.entry{
    border-color: #1971c2;
}
.inputfield__errormsg{
    background-color: white;
}
.switchtheme{
    background-color: #111111;
}
