.link{
    color: white;
    &:hover{
        color: lighten(black,20%);
    }
}
.header{
    background-color: #1971c2;
}

.top-banner-container__content{
    background-color: rgba($color: #1971c2, $alpha: .2);
}