@import "fonts.scss";
@import "frontpage.scss";
body{
    margin: 0;
}
.link{
    text-decoration: none;
}
.header{
    justify-content: space-between;
    align-items: flex-end;
    display: flex;
    padding: 1em;
    height: 93px;
    box-sizing: border-box; 
    &__logo{
        height: 60px;
    }
    &__linklist{
        margin: 0;
        padding: 0;
        display: flex;
        list-style-type: none; 
    }
    &__linkitem{
        margin-right: 1em;
        &:last-of-type{
            margin-right: 0;
        }
    }
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1em;
}