<header class="partialheader">
    <img src="assets/img/logo.png" alt="" class="header__logo">
    <nav class="header__nav">
        <ul class="header__linklist">
            <li class="header__linkitem"><a href="#" class="link">Home</a></li>
            <li class="header__linkitem"><a href="#" class="link">Gallery</a></li>
            <li class="header__linkitem"><a href="#" class="link">Employees</a></li>
            <li class="header__linkitem"><a href="#" class="link">Guest book</a></li>
        </ul>
    </nav>
</header>

<footer class="partialfooter">
    <nav class="footer__nav">
        <ul>
            <li><a href="#">Link 1</a></li>
            <li><a href="#">link 2</a></li>
            <li><a href="#">link 3</a></li>
        </ul>
    </nav>
    <button class="switchtheme">Switch Theme</button>
</footer>