<header class="partialheader">
    <img src="assets/img/logo.png" alt="" class="headerlogo">
    <nav class="headernav">
        <ul>
            <li><a href="#">Link 1</a></li>
            <li><a href="#">link 2</a></li>
            <li><a href="#">link 3</a></li>
        </ul>
    </nav>
</header>

<footer class="partialfooter">
    <nav class="footernav">
        <ul>
            <li><a href="#">Link 1</a></li>
            <li><a href="#">link 2</a></li>
            <li><a href="#">link 3</a></li>
        </ul>
    </nav>
    <button class="switchtheme">Switch Theme</button>
</footer>