<header class="partialheader">
    <a href="index.html"><img src="assets/img/logo.png" alt="" class="header__logo"></a>
    <nav class="header__nav">
        <ul class="linklist--row">
            <li class="linkitem--header"><a href="index.html" class="link">Home</a></li>
            <li class="linkitem--header"><a href="gallery.html" class="link">Gallery</a></li>
            <li class="linkitem--header"><a href="employees.html" class="link">Employees</a></li>
            <li class="linkitem--header"><a href="guestbook.html" class="link">Guestbook</a></li>
        </ul>
    </nav>
</header>

<footer class="partialfooter">
    <div class="footerwrapper">
        <address class="footer__address">
            <h3 class="footer__title">Contact us</h3>
            <ul class="linklist">
                <li class="">1195 Caynor Circle</li>
                <li class="">Somerville NJ</li>
                <li class="">908-575-7094</li>
            </ul>
        </address>
        <div class="footer__socials">
            <h3 class="footer__title">Connect with us</h3>
            <ul class="linklist--row">
                <li class="linkitem--socials"><a href="#" class="link fab fa-facebook"></a></li>
                <li class="linkitem--socials"><a href="#" class="link fab fa-twitter-square"></a></li>
                <li class="linkitem--socials"><a href="#" class="link fab fa-instagram"></a></li>
                <li class="linkitem--socials"><a href="#" class="link fab fa-pinterest-square"></a></li>
            </ul>
        </div>
        <nav class="footer__nav">
            <h3 class="footer__title">Get around</h3>
            <ul class="linklist">
                <li class=""><a href="index.html" class="link">Home</a></li>
                <li class=""><a href="gallery.html" class="link">Gallery</a></li>
                <li class=""><a href="employees.html" class="link">Employees</a></li>
                <li class=""><a href="guestbook.html" class="link">Guestbook</a></li>
            </ul>
        </nav>
        <div>
            <h3 class="footer__title">Utilities</h3>
            <ul class="linklist">
                <li><button class="switchtheme">Switch Theme</button></li>
                <li><a href="https://randomcatgifs.com/" class="link">Super secret page</a></li>
            </ul>

        </div>
    </div>

    <small class="footer__copyright">&copy; Copyright 2018, Skate Pro-File inc.</small>
</footer>