h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", sans-serif;
}

label, p, a, button, li, small {
  font-family: "Montserrat", sans-serif;
}

.top-banner-container__text {
  font-size: 1.3rem;
}

.linkitem--socials {
  font-size: 1.3rem;
}

.gallery__title {
  font-size: 1.3rem;
}

.top-banner-container {
  position: relative;
  height: 600px;
  width: 100%;
}
.top-banner-container__image {
  height: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
  object-position: top;
}
.top-banner-container__content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}
.top-banner-container__content-wrapper {
  width: 70%;
  text-align: center;
}
.top-banner-container__logo {
  height: 200px;
  border-bottom: 2px solid white;
  padding-bottom: 1em;
}
.top-banner-container__text {
  color: #ffffff;
}

.picture-data {
  display: none;
}

.gallery {
  position: relative;
  width: 80%;
  margin: 2em auto;
}
.gallery__imgcontainer {
  height: 500px;
}
.gallery:hover .gallery__controls {
  opacity: 1;
}
.gallery__controls {
  opacity: 0;
  transition: all 0.5s;
}
.gallery__img {
  height: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
}
.gallery .previousimgbtn, .gallery .nextimgbtn {
  position: absolute;
  transform: translate(0, -50%);
  width: 10%;
  height: 20%;
  border: none;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 2rem;
  color: white;
}
.gallery .previousimgbtn {
  top: 50%;
  left: 0;
}
.gallery .nextimgbtn {
  top: 50%;
  right: 0;
}
.gallery__title {
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  background-color: #111111;
  color: white;
  box-sizing: border-box;
  margin: 0;
  padding: 0.5em;
  z-index: 1;
}
.gallery__imgcounter {
  margin: 0;
  color: white;
}
.gallery__info {
  display: flex;
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0.5em 1em;
}

.employeelist {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2em;
  margin: 2rem auto;
  width: 80%;
}

.employee {
  text-align: center;
}
.employee__imgcontainer {
  height: 300px;
}
.employee__img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border-radius: 0.5em;
}
.employee__name {
  margin: 0.5rem 0 0 0;
}
.employee__position {
  margin: 0.5rem 0 0 0;
}
.employee__errormsg {
  margin: 1em auto;
  width: 80%;
}

body {
  margin: 0;
}

.link {
  text-decoration: none;
}

.header {
  justify-content: space-between;
  align-items: flex-end;
  display: flex;
  padding: 1em;
  min-height: 93px;
  box-sizing: border-box;
}
.header__logo {
  height: 60px;
}

.linklist, .linklist--row {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.linklist--row {
  display: flex;
}

.linkitem--header {
  margin-right: 1em;
}
.linkitem--header:last-of-type {
  margin-right: 0;
}
.linkitem--socials {
  margin-right: 0.5rem;
}
.linkitem--socials:last-of-type {
  margin-right: 0;
}

.footer {
  min-height: 180px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 1em;
  text-align: center;
  flex-wrap: wrap;
}
.footer__title {
  margin: 0 0 0.2em 0;
  font-style: normal;
}
.footer__socials {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.footer__address .linklist, .footer__address .linklist--row {
  color: white;
}
.footer__copyright {
  border-top: 1px solid white;
  margin-top: 1em;
  padding-top: 1em;
  flex-basis: 80%;
  color: white;
}

.hidden {
  display: none;
}

.btn, .btn--error, .btn--success {
  border: none;
}

.btn--success {
  background-color: green;
  color: white;
}

.btn--error {
  background-color: red;
  color: white;
}

/*# sourceMappingURL=shared.css.map */
